{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card upload-card text-center">

        <h3 class="section-title">Analyze Your Plant</h3>
        <p class="subtitle">Upload a leaf image and let AI diagnose it</p>

        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file" class="form-control mb-3"
                   accept="image/*" onchange="previewImage(event)" required>

            <img id="preview" class="preview-img">

            <button type="submit" class="btn btn-success mt-3 px-4">
                Analyze Plant
            </button>
        </form>
    </div>
</div>

<script>
function previewImage(event) {
    const img = document.getElementById("preview");
    img.src = URL.createObjectURL(event.target.files[0]);
    img.style.display = "block";
}
</script>
{% endblock %}
